<div class="separator text"> <time><strong>26. 3. 2015</strong></time> </div>

    <article class="panel panel-info panel-outline">
        <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
        <div class="panel-body"> What have done to eachother?</div>
    </article>

    <article class="panel panel-default panel-outline">
        <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
        <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/001.png" /> </div>
    </article>

     <article class="panel panel-danger panel-outline">
        <div class="panel-heading icon"><i class="glyphicon glyphicon-heart"></i></div>
        <div class="panel-body"> Liefdevolle actie?</div>
    </article>

    <!-- Panel -->
    <article class="panel panel-primary">

        <!-- Icon -->
        <div class="panel-heading icon">
            <i class="glyphicon glyphicon-plus"></i>
        </div>
        <!-- /Icon -->

        <!-- Heading -->
        <div class="panel-heading">
            <h2 class="panel-title">New content added</h2>
        </div>
        <!-- /Heading -->

        <!-- Body -->
        <div class="panel-body">
            Some new content has been added.
        </div>
        <!-- /Body -->

        <!-- Footer -->
        <div class="panel-footer">
            <small>Footer is also supported!</small>
        </div>
        <!-- /Footer -->

    </article>