<link href="./css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="./css/opdracht4.css" rel="stylesheet" id="opdracht4.css">
<script src="./js/jquery-1.11.1.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <!-- Page header -->
    <div class="page-header">
        <h2><a href="./gone_girl.html#fabel">Terug</a> | Gone Girl Sujet</h2>
    </div>
    <!-- <a href="gone_girl.html">Terug</a> -->
    <!-- /Page header -->
    <div class="col-sm-1">
        <ul class="list-unstyled">
            <li>begin</li>
            <li><a href="#link001">05/07/2012</a></li>
            <li><a href="#link004">08/01/2005</a></li>
            <li><a href="#link007">05/07/2012</a></li>
            <li><a href="#link010">24/03/2007</a></li>
            <li><a href="#link012">05/07/2012</a></li>
            <li><a href="#link015">05/07/2009</a></li>
            <li><a href="#link017">05/07/2012</a></li>
            <li><a href="#link020">06/07/2012</a></li>
            <li><a href="#link028">18/07/2010</a></li>
            <li><a href="#link032">07/07/2012</a></li>
            <li><a href="#link038">23/09/2010</a></li>
            <li><a href="#link041">07/07/2012</a></li>
            <li><a href="#link042">02/10/2011</a></li>
            <li><a href="#link046">07/07/2012</a></li>
            <li><a href="#link047">14/02/2012</a></li>
            <li><a href="#link048">08/07/2012</a></li>
            <li><a href="#link058">05/07/2012</a></li>
            <li><a href="#link062">08/07/2012</a></li>
        </ul>
    </div>
    <div class="col-sm-1">
        <ul class="list-unstyled">
            <li>vervolg</li>
            <li><a href="#link063">06/07/2012</a></li>
            <li><a href="#link065">07/07/2012</a></li>
            <li><a href="#link067">08/07/2012</a></li>
            <li><a href="#link068">01/01/2011</a></li>
            <li><a href="#link069">09/07/2012</a></li>
            <li><a href="#link078">10/07/2012</a></li>
            <li><a href="#link082">11/07/2012</a></li>
            <li><a href="#link085">12/07/2012</a></li>
            <li><a href="#link092">13/07/2012</a></li>
            <li><a href="#link097">14/07/2012</a></li>
            <li><a href="#link100">26/07/2012</a></li>
            <li><a href="#link103">03/08/2012</a></li>
            <li><a href="#link105">04/08/2012</a></li>
            <li><a href="#link113">05/08/2012</a></li>
            <li><a href="#link115">09/08/2012</a></li>
            <li><a href="#link117">09/09/2012</a></li>
            <li><a href="#link118">23/09/2012</a></li>
            <li>eind</li>
        </ul>
    </div>
    <!-- Timeline -->
    <div class="col-lg-8 timeline_scroll">
        <div class="timeline">
            <!-- Line component -->
            <div class="line text-muted"></div>

            <a name='home'></a>

            <div class="separator text"> <time><strong>05/07/2012</strong></time><a name="link001"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/001.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">De grote vragen van elk huwelijk. Wat denk je? Hoe voel je je? Wat hebben we
                    elkaar
                    aangedaan? Amy kijkt bezorgd.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/002.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick zet de vuilnis buiten op de ochtend van Amy's verdwijning. De straat is
                    kalm.
                </div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/003.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick bespreekt de traditie van het schatzoeken op zijn trouwdag met zijn
                    tweelingzus
                    Margo. Hoe hij er slechter in geworden is.</div>
            </article>




            <div class="separator text"> <time><strong>08/01/2005</strong></time><a name="link004"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/004.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy's dagboek: Ik ben zo gelukkig.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/005.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick en Amy ontmoeten elkaar.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/006.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick legt zijn vingers op Amy's lippen voordat ze zoenen.</div>
            </article>




            <div class="separator text"> <time><strong>05/07/2012</strong></time><a name="link007"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/007.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Margo vraagt hoe de zoektocht gaat. De telefoon gaat. De kat is buiten het huis
                    gezien. Nick gaat naar huis.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/008.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick komt thuis. De woonkamer ligt overhoop. Hij roept Amy. (belangrijk moment!
                    de
                    filmmakers vertellen je dat Nick Amy niets aangedaan heeft)</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/009.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Detective Rhonda onderzoekt het huis en markeert verdachte zaken. Ze komt
                    erachter
                    dat Amy de inspiratie was voor een boekenreeks geschreven door haar ouders, "Amazing Amy".</div>
            </article>




            <div class="separator text"> <time><strong>24/03/2007</strong></time><a name="link010"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/010.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy's dagboek: Een sarcastische zinsnede over hoe Amazing Amy haar altijd een
                    stap
                    voor is.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/011.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick vraagt Amy ten huwelijk om de "achterstand" recht te trekken.</div>
            </article>




            <div class="separator text"> <time><strong>05/07/2012</strong></time><a name="link012"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/012.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick wordt ondervraagd op het politie bureau.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/013.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick treft zijn vader aan op het politie bureau. De demente man moet terug
                    gebracht
                    worden naar zijn verzorgingstehuis.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/014.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick pakt een tweede mobiele telefoon en probeert iemand te bellen, voicemail.
                </div>
            </article>




            <div class="separator text"> <time><strong>05/07/2009</strong></time><a name="link015"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/015.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy's dagboek: Iedereen vertelde ons dat een huwelijk hard werken is, voor ons
                    niet,
                    voor ons is het gewoon leuk.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/016.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy en Nick kopen elkaar hetzelfde cadeau voor hun trouwdatum. "We zijn zo
                    schattig.
                    Ik zou ons iets aan kunnen doen" (Amy)</div>
            </article>




            <div class="separator text"> <time><strong>05/07/2012</strong></time><a name="link017"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/017.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick probeert weer te bellen met zijn tweede telefoon, voicemail.
                </div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/018.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick heeft Rhonda verteld dat Amy geen vrienden heeft. Daarna ontmoet ze Noelle,
                    de
                    buurvrouw en goede vriendin van Amy.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/019.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Rhonda vindt de eerste aanwijzing voor de schatzoektocht voor de trouwdag.</div>
            </article>




            <div class="separator text"> <time><strong>06/07/2012</strong></time><a name="link020"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/020.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Een dag vermist. Nick wordt wakker met een kater.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/021.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">De ouders van Amy komen aan in Missouri.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/022.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Er wordt een persconferentie gehouden als poging om Amy te vinden.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/023.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Desi, een obsessieve ex-vriend van Amy, wordt naar voren geschoven als mogelijke
                    verdachte.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/024.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Rhonda vraagt Nick naar de eerste aanwijzing. Nick weet waar het naartoe leidt.
                </div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/025.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Aanwijzing twee wordt gevonden op het kantoor van Nick.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/026.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Rhonda vindt sexy ondergoed. Nick doet alsof hij niet weet waar aanwijzing 3
                    naartoe
                    leidt.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/027.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick gaat naar het huis van zijn vader. Hier vindt hij aanwijzing 3.</div>
            </article>




            <div class="separator text"> <time><strong>18/07/2010</strong></time><a name="link028"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/028.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Strubbelingen in het huwelijk van Nick en Amy. Ze worden werkeloos.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/029.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Ondanks de problemen wil Amy dat ze niet zo worden als "standaard" getrouwde
                    stellen
                    die elkaar geen ruimte gunnen.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/030.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy vertelt Nick dat het geld dat ze heeft van Amazing Amy naar haar ouders
                    moet.
                    Nick stribbelt tegen.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/031.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy heeft kritiek op Nick zijn uitgaves. Waarom dwing je me een zeurende vrouw
                    te
                    worden.</div>
            </article>




            <div class="separator text"> <time><strong>07/07/2012</strong></time><a name="link032"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/032.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Twee dagen vermist. Er is een ontmoeting voor vrijwilligers die willen helpen
                    Amy te
                    vinden.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/033.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick ziet Desi bij de ontmoeting, maar hij realiseert zich niet wie het is.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/034.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Een vrouw wil op de foto met Nick. Na de foto realiseert Nick zich dat dit geen
                    goed idee is. Hij vraagt haar de foto te verwijderen. Ze wordt boos.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/035.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">De moeder van Amy is boos. Nick is te vriendelijk en vrolijk. Je hebt het naar
                    je
                    zin. Nick zegt dat het een nachtmerrie is.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/036.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Rhonda vindt afschriften van de aankoop van dure spullen, maar deze zijn niet te
                    vinden in huis.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/037.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Margo vraagt Nick of hij nog iets acher houdt? Hij zegt nee.</div>
            </article>




            <div class="separator text"> <time><strong>23/09/2010</strong></time><a name="link038"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/038.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy's dagboek: Ik ben een Missouriaan.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/039.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">De moeder van Nick is ziek. Hij beslist (zonder overleg) naar zijn
                    geboorteplaats te
                    verhuizen om voor haar te zorgen.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/040.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Aangekomen in Missouri concludeert Amy dat ze niet meer in Nick zijn leven past. Ze
                    voelt
                    zich een wegwerpartikel.</div>
            </article>




            <div class="separator text"> <time><strong>07/07/2012</strong></time><a name="link041"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/041.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Er wordt duidelijk wie Nick probeert de bellen sinds de vermissing van Amy. De
                    student (Andie) waar hij een affaire mee heeft.</div>
            </article>




            <div class="separator text"> <time><strong>02/10/2011</strong></time><a name="link042"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/042.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy's dagboek: Mijn man is in de war.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/043.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy schijft in haar dagboek dat Nick haar gebruikt voor seks wanneer het hem uit
                    komt.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/044.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy vraag Nick of hij een kindje wil. Hij wil dit niet omdat zij het gebruikt
                    om
                    haar relatie te redden.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/045.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy concludeert, ik ben bang voor mijn man.</div>
            </article>




            <div class="separator text"> <time><strong>07/07/2012</strong></time><a name="link046"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/046.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Rhonda volgt een aanwijzing. Ze denkt dat Amy daar drugs ging kopen. De dealer
                    vertelt haar dat ze een geweer wilde kopen.</div>
            </article>




            <div class="separator text"> <time><strong>14/02/2012</strong></time><a name="link047"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/047.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy's dagboek: Voor Valentijnsdag besloot ik een pistool te kopen.</div>
            </article>




            <div class="separator text"> <time><strong>08/07/2012</strong></time><a name="link048"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/048.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Drie dagen vermist: Nick wordt wakker met Andie in het huis van Margo.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/049.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Margo betrapt Nick. Ze zegt dat hij Tanner Bolt in moet huren, een bekende
                    advocaat
                    die gespecialiseerd is in dit soort verdwijnigszaken.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/050.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Rhonda bekijkt de resultaten van het sporenonderzoek. De sporen in de keuken
                    wijzen
                    erop dat Amy vermoord is.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/051.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Tijdens de wake voor Amy schreeuwt Noelle door de menigte: wat heb je met je
                    zwangere vrouw gedaan Nick?</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/052.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Rhonda ondervraagt Nick over de zwangerschap. Hij ontkent hier iets vanaf te
                    weten.
                </div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/053.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Rhonda confronteert Nick met de afschriften van de creditcard. Nick zegt er
                    niets
                    van te weten. De levensverzekering van Amy is kort hiervoor verhoogd. Nick heeft de papieren
                    ingediend.
                </div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/054.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick en Margo hebben het over de zwangerschap. Nick heeft spermaonderzoek laten
                    doen
                    bij een vruchtbaarheidskliniek.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/055.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Margo vindt de doos met spullen die Nick bewaard heeft. Er zitten brieven van
                    Desi
                    in. Ze noemt het een doos vol met haat.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/056.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Rhonda vindt het dagboek van Amy in de oven in de kelder van het huis van de
                    vader
                    van Nick. De laatste pagina zegt: Ik denk, man van dromen, vader van mijn kind, deze man zou me
                    kunnen
                    vermoorden.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/057.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick vindt de spullen die op het afschrift van de creditcard stonden in de
                    schuur
                    van Margo.</div>
            </article>




            <div class="separator text"> <time><strong>05/07/2012</strong></time><a name="link058"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/058.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy komt in beeld: ik ben zoveel gelukkiger nu ik dood ben. Amy legt alle stappen
                    van
                    haar plan uit. </div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/059.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body"></div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/060.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy vertelt hoe ze zichzelf in de rivier gaat gooien om Nick te verdoemen. Ze
                    deed
                    zich voor als iemand anders zodat hij van haar zou houden. Ze maakte hem een betere man.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/061.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy komt aan bij haar tijdelijke verblijf. Ze slaat zichzelf met een hamer om
                    eruit
                    te zien als een misbruikte vrouw.</div>
            </article>




            <div class="separator text"> <time><strong>08/07/2012</strong></time><a name="link062"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/062.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick en Margo openen het cadeau. Er zit een brief in om Nick het plan duidelijk
                    maken,
                    maar niemand zal hem geloven. Het cadeau is Jan Klaassen en Katrijn. Jan slaat Katrijn en de baby
                    dood
                    in het orginele verhaal.</div>
            </article>




            <div class="separator text"> <time><strong>06/07/2012</strong></time><a name="link063"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/063.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy kijkt in de kalender van haar plan. December 2012: mezelf vermoorden.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/064.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy ontmoet haar buurvrouw Greta.</div>
            </article>




            <div class="separator text"> <time><strong>07/07/2012</strong></time><a name="link065"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/065.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body"></div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/066.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy kijkt naar persbeelden van Nick, ze wordt boos omdat hij lacht op de foto.
                </div>
            </article>




            <div class="separator text"> <time><strong>08/07/2012</strong></time><a name="link067"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/067.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy brengt tijd door met Greta, ze hebben het over hun slechte smaak in mannen.
                </div>
            </article>




            <div class="separator text"> <time><strong>01/01/2011</strong></time><a name="link068"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/068.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy ziet Nick met Andie. Hij legt zijn vingers op haar lip (net als bij haar) en
                    kust haar.</div>
            </article>




            <div class="separator text"> <time><strong>09/07/2012</strong></time><a name="link069"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/069.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick vraagt Tanner Bolt om hulp. Tanner gelooft hem.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/070.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Tanner zegt dat ze de publieke opinie van Amy moeten aanpassen. Ze besluiten om
                    de
                    exen van Amy op te zoeken.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/071.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick ontmoet Tommy. Tommy vertelt hoe de beschuldigingen van Amy zijn leven
                    verwoest
                    hebben. Nick vraagt heb je het gedaan? Heb jij het gedaan, vraagt Tommy.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/072.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy en Greta kijken naar de media. Ze verdoemen Nick.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/073.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick zit op het vliegveld. De media maken hem zwart, insinueren dat hij een
                    relatie
                    met zijn zus heeft.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/074.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy is blij met de "voortgang". Ze tipt de politie over de spullen in de schuur
                    van
                    Margo. Ze streept weer een stap af op haar kalender.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/075.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick ontmoet Desi. Hij houdt afstand en wil niet echt met hem spreken.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/076.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick rijdt langs zijn bar. Het is ontzettend druk. Voor het eerst sinds lange
                    tijd.
                </div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/077.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Rhonda bespreekt de zaak met een collega. Ze vindt de zaak vreemd. De feiten
                    kloppen
                    niet.</div>
            </article>




            <div class="separator text"> <time><strong>10/07/2012</strong></time><a name="link078"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/078.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick legt de aanwijzingen uit aan Tanner. Ze concluderen dat Nick iets gemist
                    heeft
                    in het huis van zijn vader.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/079.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick, Margo en Tanner komen aan bij het huis. Het is afgesloten door de politie.
                    Wat
                    ze gevonden hebben voorspelt niet veel goeds voor Nick.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/080.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Tanner adviseert Nick dat hij de pers en politie over Andie moet vertellen. Het
                    gaat
                    binnenkort uitkomen.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/081.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy vertelt Greta en Jeff dat ze zichzelf wilde vermoorden, maar dat ze daar
                    vanaf
                    ziet. Ze laat haar geld vallen.</div>
            </article>




            <div class="separator text"> <time><strong>11/07/2012</strong></time><a name="link082"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/082.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Tanner wil dat Nick een interview bij Sharon doet en vertelt over Andie. Tanner
                    zal
                    Nick voorbereiden.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/083.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Greta en Jeff beroven Amy. Haar plan valt in duigen.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/084.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy belt Desi om haar te helpen omdat ze geen andere opties meer heeft.</div>
            </article>




            <div class="separator text"> <time><strong>12/07/2012</strong></time><a name="link085"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/085.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Zeven dagen vermist.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/086.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Tanner oefent het interview met Nick om ervoor te zorgen dat Nick op de juiste
                    manier over komt.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/087.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy vertelt Desi hoe Nick haar misbruikt heeft. Desi heeft een afgelegen huis
                    aan
                    een meer waar ze kunnen schuilen.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/088.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick is bij Sharon en staat op het punt om het interview te geven.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/089.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">De ouders van Amy houden een personferentie waar Andie vertelt over hun affaire.
                    Amy
                    kijkt en heeft commentaar op haar uiterlijk en uitspraken.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/090.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">De opnames van het interview zijn klaar. Je was hartstikke goed concludeert
                    Tanner.
                </div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/091.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy en Desi komen uit bij het huis. Ik laat je niet meer gaan zegt hij.</div>
            </article>




            <div class="separator text"> <time><strong>13/07/2012</strong></time><a name="link092"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/092.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Acht dagen vermist.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/093.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy vertelt Desi dat ze zich weer veilig wil voelen. Ze werd onderdrukt door
                    Nick.
                    Desi insinueert dat zij hetzelfde met hem gedaan heeft. </div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/094.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy kijkt het interview met Desi. Amy kijkt gefacineerd door de dingen die Nick
                    zegt. Hij laat haar het geheime teken voor "no bullshit" zien.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/095.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Margo en Nick kijken naar de media. Iedereen houdt ineens van Nick.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/096.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">De politie vindt de spullen in de schuur van Margo. Margo wordt gearresteerd.
                </div>
            </article>




            <div class="separator text"> <time><strong>14/07/2012</strong></time><a name="link097"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/097.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Desi wil weten waar hij aan toe is. Amy geeft hem niet wat hij wil.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/098.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Rhonda laat het bewijs aan Nick zien. Deze man gaat mij vermoorden. de laatste
                    zin
                    van het dagboek. Erg voor de hand liggend zegt Nick.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/099.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Het moordwapen wordt gevonden in de open haard. Rhonda arresteert Nick.</div>
            </article>




            <div class="separator text"> <time><strong>26/07/2012</strong></time><a name="link100"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/100.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">21 dagen vermist.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/101.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy doet alsof ze verkracht is voor de beveiligingscamera van het huis waar ze
                    is.
                </div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/102.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick komt voorwaardelijk vrij. Mensen vallen hem lastig. Waar is je vrouw?</div>
            </article>




            <div class="separator text"> <time><strong>03/08/2012</strong></time><a name="link103"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/103.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">29 dagen vermist.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/104.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy mishandelt zichzelf met een wijnfles om een verkrachting te simuleren. Na de
                    seks vermoord ze Desi op een gruwelijke manier.</div>
            </article>




            <div class="separator text"> <time><strong>04/08/2012</strong></time><a name="link105"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/105.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">30 dagen vermist.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/106.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy komt onder het bloed thuis. De media reageren op de aankomst. Nick omarmt haar "jij
                    trut".
                </div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/107.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">In het ziekenhuis wordt Amy ondervraagd door de politie en FBI. Iedereen gelooft
                    haar verhaal en ziet haar als slachtoffer. Rhonda stelt kritische vragen over de bewijzen die elkaar
                    tegen spreken.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/108.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick vraagt aan de politie hoe Amy aan het mes gekomen is terwijl ze
                    vastgebonden
                    was.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/109.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">De FBI vraagt Amy of ze met haar mee naar huis wil.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/110.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick en Amy komen thuis. De media achtervolgen hen: je bent onze held Amy.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/111.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy vertelt Nick dat zij de man wil die ze op TV zag.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/112.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Amy wil alleen praten onder de douche, zodat ze niet afgeluisterd kunnen
                    worden. Je
                    smeekte me om je leven te redden, zegt ze.</div>
            </article>




            <div class="separator text"> <time><strong>05/08/2012</strong></time><a name="link113"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/113.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Een dag thuis. Eenzelfde aanblik van de straat als aan het begin van de film,
                    maar
                    nu vol met mediabussen.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/114.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">De media hebben de volgende man gevonden om te verdoemen, Desi.</div>
            </article>




            <div class="separator text"> <time><strong>09/08/2012</strong></time><a name="link115"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/115.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Tanner, Rhonda, Margo en Nick bespreken de situatie. Amy is de held van Amerika.
                    Niemand heeft door wat ze gedaan heeft.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/116.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Tanner vertrekt. Nick protesteert. Geniet van je nieuwe roem, maar maak Amy niet
                    kwaad waarschuwt hij. Rhonda zegt dat ze niets meer kan doen.</div>
            </article>




            <div class="separator text"> <time><strong>09/09/2012</strong></time><a name="link117"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/117.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Vijf weken thuis. Nick houdt afstand van Amy. Amy vertelt hem dat hij zijn rol
                    moet
                    spelen.</div>
            </article>




            <div class="separator text"> <time><strong>23/09/2012</strong></time><a name="link118"></a> </div>

            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/118.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Zeven weken thuis. Nick worstelt met de situatie waar hij in zit. Hij wil weg.
                </div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/119.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">De media zijn bij Nick en Amy voor een interview. Nick confronteert ze met hoe ze
                    hem
                    afgeschilderd hebben terwijl hij onschuldig was.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/120.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Nick komt erachter dat Amy zwanger is. Ze hebben geen seks gehad zegt hij. Maar
                    Amy
                    heeft het sperma van de kliniekt gebruikt.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/121.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Margo is gebroken als Nick vertelt over de zwangerschap. Hij kan het kind niet
                    achterlaten bij Amy. Hij zal nooit de voogdij krijgen.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/122.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Tijdens het interview doen Amy en Nick zich voor als een perfect stel. Ze zijn
                    broeders in kwaad.</div>
            </article>




            <article class="panel panel-default panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
                <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/gone_girl/123.png" />
                </div>
            </article>

            <article class="panel panel-info panel-outline">
                <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
                <div class="panel-body">Wat denk je? Hoe voel je je? Wat hebben we elkaar aangedaan? Wat gaan we doen?
                    Amy
                    heeft een kleine glimlach. Gewonnen.</div>
            </article>








        </div>
        <!-- /Timeline -->
    </div>

</div>
</div>