<div class="separator text"> <time><strong>Scene 02</strong></time><a name="link02"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/02.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard belt in een motel kamer, waar ben je?</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 04</strong></time><a name="link04"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/04.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard kijkt naar zijn hand, denk aan Sammy Jenkins. Hij doorzoekt de lade van zijn kamer en vindt een bijbel</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 06</strong></time><a name="link06"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/06.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard vertelt over zijn systeem om dingen te onthouden, hoe hij belangrijke informatie op zijn lichaam tatoeëert. De telefoon gaat over: met wie spreek ik?</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 08</strong></time><a name="link08"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/08.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Aan de telefoon vertelt Leonard over Sammy Jenkins. Hij heeft een ongeluk gehad en hersenschade opgelopen. Zijn korte termijn geheugen is stuk.</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 10</strong></time><a name="link10"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/10.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Aan de telefoon vertelt Leonard over zijn werk als controleur voor een verzekeringsmaatschappij. Hier kwam hij Sammy tegen, het was zijn eerste zaak.</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 12</strong></time><a name="link12"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/12.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard vertelt over zijn bezoek aan Sammy en zijn vrouw. Hoe Sammy taken voor het ongeluk nog prima uit kan voeren, zoals de insuline inspuiten bij zijn vrouw</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 14</strong></time><a name="link14"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/14.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Aan de telefoon vertelt Leonard over Sammy. Zijn korte termijn geheugen is maar een paar minuten. Om aan te tonen of het een valide claim is laat Leonard Sammy conditioneringstests uitvoeren</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 16</strong></time><a name="link16"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/16.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Aan de telefoon vertelt Leonard hoe Sammy zijn conditioneringstests faalt, hij kan niet leren welke objecten hem een schok zullen geven, Sammy reageert gefrustreerd. De claim is hierdoor niet valide, ze moeten de medische kosten zelf betalen.</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 18</strong></time><a name="link18"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/18.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard vertelt aan de telefoon dat hij tot de conclusie kwam dat Sammy's aandoening psychologisch was, geen fysieke schade aan de hersenen.</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 20</strong></time><a name="link20"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/20.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard zegt tegen de gene aan de telefoon dat ze later terug moeten bellen. Hij tatoeert iets op zijn been.</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 22</strong></time><a name="link22"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/22.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard heeft een aantekening: Toegang tot drugs. Dit  tatoeëert hij op zijn been</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 24</strong></time><a name="link24"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/24.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">De telefoon gaat weer over, met wie spreek ik?</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 26</strong></time><a name="link26"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/26.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard spreekt met iemand aan de telefoon over drugs, hij denkt dat het hem gaat helpen John G te vinden</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 28</strong></time><a name="link28"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/28.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Degene aan de telefoon hint erop dat John G een drugdealer is, Leonard bekijkt zijn aantekeningen. Dit is hoe hij hem gaat vinden.</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 30</strong></time><a name="link30"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/30.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Aan de telefoon vertelt Leonard over de vrouw van Sammy. Ze is gefrustreert en probeert van alles uit op Sammy om hem te genezen.</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 32</strong></time><a name="link32"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/32.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard trekt een verband van zijn been, neem nooit de telefoon op</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 34</strong></time><a name="link34"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/34.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">De telefoon gaat over maar Leonard hangt op. Hij vertelt de receptionist om alle binnenkomende gesprekken tegen te houden</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 36</strong></time><a name="link36"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/36.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard is paranoide. De receptionist van de DiscountInn klopt op de deur, er is een politieagent die je wilt spreken</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 38</strong></time><a name="link38"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/38.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">De telefoon gaat over maar Leonard wilt niet opnemen. Er wordt een eveloppe onder deur door geschoven met een foto van Leonard die naar zijn borstkast wijst. Neem de telefoon op!</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 40</strong></time><a name="link40"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/40.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard neemt de telefoon op. Waarom bel je me? Wat wil je van me? Het is een politieagent.</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 42</strong></time><a name="link42"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/42.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Aan de telefoon vertelt Leonard over Sammy. Zijn vrouw heeft hem getest door hem steeds opnieuw te vragen insuline in te spuiten, ze denkt dat hij zich dit zal herinneren. Sammy vermoord haar.</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 44</strong></time><a name="link44"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/44.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard praat aan de telefoon met een politie agent, Jimmy Grantz is John G. Leonard ontmoet Teddie in lobby van zijn hotel, maar hij stelt zich voor als agent Gammel. Leonard maakt een foto van hem, schijf mijn naam maar op als Teddie, ik ben undercover zegt hij. Teddie vertelt Leonard waar Jimmy is. Leonard gaat naar de afsproken plek en vermoord Jimmy en maakt een foto. De scene gaat van zwart-wit naar kleur.</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 45</strong></time><a name="link45"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/45.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">De scene gaat van zwart-wit naar kleur. Teddie komt aan en vertelt Leonard alles wat gebeurd is. Ze hebben jaren geleden samen John G samen vermoord, toen hebben ze de foto van Leonard genomen terwijl hij naar zijn borst wijst. Maar Leonard is dit vergeten en ging weer op zoek naar John G. Teddie heeft Leonard gebruikt door steeds aanwijzingen naar een nieuw iemand te geven.Leonard besluit dat Teddie zijn volgende John G gaat worden en schijft zijn kenteken op.In de kleren en auto van Jimmy rijdt Leonard weg.</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 43</strong></time><a name="link43"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/43.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard stopt bij een tatoewinkel, hij heeft een kentekenplaat opgeschreven die hij niet mag vergeten. Teddie komt bij de tatoewinkel, hij dringt aan dat hij moet omkleden en de auto verplaatsen. Er is een politieagent op zoek naar je, je moet de stad uit en een andere identiteit aannemen. Leonard gelooft Teddie niet. Hij vindt de aantekening om Natalie te ontmoeten bij Ferdy's bar</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 41</strong></time><a name="link41"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/41.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard vindt een aantekening over Ferdy's bar, hij moet Natalie hier ontmoeten. Als hij aan komt vraagt ze wat er met Jimmy gebeurt is, hij heeft geen idee. Natalie vult een mok met bier, zij en een man spugen erin, voor een weddenschap zegt ze.</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 39</strong></time><a name="link39"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/39.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard zit in een bar, hij krijgt een mok met bier aangeboden van de zaak, een man lacht. Natalie stopt hem na de eerste slok en zegt dat ze hem een nieuw drankje zal halen</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 37</strong></time><a name="link37"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/37.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard gaat naar Natalie, hij mag hier blijven zegt ze. Hij maakt een foto om haar te herinneren.</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 35</strong></time><a name="link35"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/35.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard is bij Natalie thuis en bekijkt zijn aangekeningen. Ze komt thuis en verstopt alle pennen. Ze maakt Leonard boos en daagt hem uit. Hij slaat haar in het gezicht, ik ga je gebruiken zegt ze en ze gaat in de auto zitten.</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 33</strong></time><a name="link33"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/33.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard is bij Natalie thuis. Hij is op zoek naar een pen op het moment dat ze thuis komt. Natalie heeft een kapotte lip, Dodd heeft me geslagen zegt ze. Leonard maakt aantekeningen over Dodd en vertrekt</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 31</strong></time><a name="link31"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/31.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard en Teddie zitten in de auto. Teddie vertelt Leonard dat Natalie niet te vertrouwen is. Leonard kijkt naar zijn foto's en besluit dat Teddie degene is die niet te vertrouwen is omdat hij liegt.</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 29</strong></time><a name="link29"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/29.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard gaat naar de DiscountInn en bestelt een prostitue. Hij vraagt haar de bezittingen van zijn vrouw rond de kamer te verspreiden en naast hem te komen liggen terwijl hij slaapt. Hij vraagt haar ook om de badkamer deur hard dicht te slaan als hij in slaap gevallen is</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 27</strong></time><a name="link27"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/27.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard wordt wakker en voelt naast zich, het bed is nog warm. Hij zoekt zijn vrouw maar treft iemand anders aan op de badkamer. Hij heeft een bruine zak met spullen bij zich en vertrekt</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 25</strong></time><a name="link25"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/25.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard komt aan bij een afgeleven plek en maakt een vuurtje. Hij verbrandt de spullen van zijn overleden vrouw. Hij vuurt dooft langzaam uit.</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 23</strong></time><a name="link23"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/23.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard is bij een afgelegen plek met een vuur dat bijna uitgedoofd is. Hij rijdt weg in zijn auto. Later houdt Dodd hem staande, schiet op de auto en achtervolgt hem</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 21</strong></time><a name="link21"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/21.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard is op de vlucht van Dodd die hem achternazit en op hem schiet met een geweer. Hij vlucht met de auto en vindt hier informatie over de verblijfplaats van Dodd. Hij gaat naar de hotelkamer en verstopt zich in de badkamer.</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 19</strong></time><a name="link19"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/19.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard staat onder de douche terwijl Dodd de badkamer binnen loopt. Ze vechten maar Leonard overmeestert hem en bindt hem vast in de kast. Hij maakt een foto van Dodd en schijft erop: Jaag hem weg. Hij plaatst het geweer van Dodd in de lade en gaat slapen</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 17</strong></time><a name="link17"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/17.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard wordt wakker op een hotel kamer en vindt een geweer in de lade. Hij vindt Dodd vastgebonden in de kleerkast. Teddy komt en samen rijden ze weg met Dodd, ze jagen hem de stad uit. Leonard gaat naar Natalie.</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 15</strong></time><a name="link15"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/15.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard komt boos bij Natalie aan. Leonard had beloofd haar te helpen in ruil voor informatie, daarom heeft hij Dodd (van de foto) iets aangedaan. Natalie verteld over haar vriendje Dodd en hoe hij afgesproken had met Teddie. </div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 13</strong></time><a name="link13"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/13.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard wordt wakker in het huis van Natalie. Ze belooft hem informatie te zoeken over de kenteken die hij haar heeft gegeven van de auto van John G. Leonard vertrekt en komt Teddie bij zijn auto tegen</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 11</strong></time><a name="link11"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/11.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard en Teddie zijn onderweg en Teddie suggereert om samen iets te eten. Ze heb lunch samen. Leonard vindt een herinnering in zijn zak dat hij met Natalie afgesproken heeft.</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 09</strong></time><a name="link09"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/09.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard ontmoet Natalie. Ze heeft een kopie van het paspoort van John G, de man die vrouw van Leonard vermoord heeft.</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 07</strong></time><a name="link07"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/07.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard kijkt naar alle aanwijzingen die hij verzamelt heeft. Hij belt Teddy op of hij hem wilt ontmoeten.</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 05</strong></time><a name="link05"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/05.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">In de spiegel is de tatoe leestbaar: John G heeft je vrouw verkracht en vermoord. Leonard schijft op de foto van Teddy: Vertrouw teddy niet, vermoord hem. Hij laadt zijn geweer en gaat naar de balie van de Discount Inn</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 03</strong></time><a name="link03"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/03.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Teddy en Leonard ontmoeten elkaar terwijl Leonard met de baliemedewerker van de Discount Inn praat. Ze gaan naar een afgelegen loods. Leonard kijkt naar de foto van Teddy: Vertrouw teddy niet, vermoord hem. Leonard vermoordt Teddy.</div>
</article>


<a href="#home">up!</a>

<div class="separator text"> <time><strong>Scene 01</strong></time><a name="link01"></a> </div>

<article class="panel panel-default panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-picture"></i> </div>
   <div class="panel-body"> <img class="img-responsive img-rounded" src="./images/memento/01.png" /> </div>
</article>

<article class="panel panel-info panel-outline">
   <div class="panel-heading icon"> <i class="glyphicon glyphicon-info-sign"></i> </div>
   <div class="panel-body">Leonard vermoord Teddy, scene gaat achteruit in tijd</div>
</article>


<a href="#home">up!</a>

